{% assign ad_type = include.type %}
{% case ad_type %}
  {% when 'leaderboard' %}
    {% assign ad_slot = '8939839370' %}
    {% assign ad_style = 'block' %}
    {% assign ad_height = '90px' %}
  {% when 'skyscraper' %}
    {% assign ad_slot = '3487917390' %}
    {% assign ad_style = 'block' %}
    {% assign ad_height = '600px' %}
  {% when 'article' %}
    {% assign ad_slot = '6501428979' %}
    {% assign ad_style = 'block; text-align:center;' %}
    {% assign ad_height = 'auto' %}
  {% when 'multiplex' %}
    {% assign ad_slot = '3375031396' %}
    {% assign ad_style = 'inline-block;width:900px;height:250px' %}
    {% assign ad_height = 'auto' %}
  {% when 'in-feed' %}
    {% assign ad_slot = '9130894804' %}
    {% assign ad_style = 'block' %}
    {% assign ad_height = 'auto' %}
{% endcase %}

<ins class="adsbygoogle"
     style="display:{{ ad_style }}; width: 100%; height: {{ ad_height }}"
     data-ad-client="ca-pub-1291242080282540"
     data-ad-slot="{{ ad_slot }}"
     ></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
