  <!-- Begin head.html -->

  <meta charset="UTF-8" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Favicon -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ '/favicon.ico' | relative_url }}"
  />
  <!-- Fontawesome CSS -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Source+Code+Pro"
    rel="stylesheet"
  />  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
    crossorigin="anonymous"
  ></script>
  <!-- End head.html -->
