<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}
    <main class="container mx-auto py-7 ">
    
      <section class="dark:bg-gray-100 dark:text-gray-800">
        <div class="container mx-auto flex flex-col lg:flex-row p-6">
          <!-- Main content area -->
          <div class="lg:w-3/4">
            <h2 class="py-4 text-3xl font-bold text-center">Table of Contents</h2>
            <div class="divide-y dark:divide-gray-300">
              {% for lab in site.labs %}
              <div class="grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0">
                <div class="flex items-center justify-center lg:col-span-1 col-span-full">
                  <!-- Conditionally render SVG image or chapter number -->
                  {% if lab.image %}
                    {{ lab.image }}
                  {% else %}
                    <div class="bg-primary w-16 h-16 flex items-center justify-center text-white text-xl font-bold rounded-full">
                      {{ lab.number }}
                    </div>
                  {% endif %}
                </div>
                <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-3 lg:text-left">
                  <!-- Render lab chapter number dynamically -->
                  {% if lab.image %}
                    <!-- Render lab title from front matter -->
                    <span class="text-xs tracking-wider uppercase dark:text-violet-600">Chapter - {{ lab.number }}</span>
                  {% endif %}
                  <!-- Render lab title from front matter -->
                  <span class="text-xl font-bold md:text-2xl">{{ lab.title }}</span>
                  <!-- Render lab description from front matter -->
                  <span class="mt-4 dark:text-gray-700">{{ lab.description }}</span>
                  <!-- Render anchor link to lab post with btn-primary class -->
                  <a href="{{ lab.url }}" class="mt-4 btn btn-primary">Read More</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- Sidebar with sticky ad placeholder -->
          <div class="lg:w-1/4">
            <!-- Sticky ad placeholder -->
            <div class="hidden lg:block sticky top-0">
              <!-- Responsive ad placeholder -->
              <div class="h-[600px] bg-gray-200 dark:bg-gray-700">
                <!-- Your ad code or placeholder content goes here -->
                <!-- For example, you can add an image -->
                <img src="path_to_your_ad_image.jpg" alt="Advertisement" class="w-full h-full object-cover">
              </div>
            </div>
          </div>
        </div>
      </section>
      
    
    </main>
  

    {% include footer_row.html %} {% include js.html %}
  </body>
</html>
